<!DOCTYPE html>
<html>
<head>
  <title> Quiz de mathématiques</title>
</head>
<body>
<div class="app">
  <h1>Bienvenue au quiz de mathématiques</h1>
  <div class="quiz">
    <h2 id="question">question</h2>
    <div id="answer-buttons">
      <button class="btn">Answer 1</button>
      <button class="btn">Answer 1</button>
      <button class="btn">Answer 1</button>
      <button class="btn">Answer 1</button>
    </div>
    <button id="next-btn">Question suivante</button>
  </div>
</div>
</body>
</html>
