@use "theme";

nav {
  height: 65px;
  background: #3A1C71;
  background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
}

mat-nav-list {
  margin-left: 450px;
  display: flex;
  flex-direction: row;
  width: 400px;
}

mat-nav-list a {
  font-size: large;
  color: theme.$white;
  transition: 0.3s;
}

.accueil button.accueil-button,
.admin button.admin-button {
  background-color: transparent;
  color: white;
  border: none;
  transition: 0.3s;
  margin-right: 400px;
}

.accueil button.accueil-button:hover,
.admin button.admin-button:hover {
  transform: scale(1.2);
}
